apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
spec:
  project: "default"
  destination:
    namespace: ingress-nginx
    server: "https://kubernetes.default.svc"
  source:
    repoURL: "https://kubernetes.github.io/ingress-nginx"
    targetRevision: 4.13.2
    chart: ingress-nginx
    helm:
      values: |
        controller:
          config:
            annotations-risk-level: Critical
            allow-snippet-annotations: true
          metrics:
            enable: true
          podAnnotations:
            prometheus.io/port: "10254"
            prometheus.io/scrape: "true"
          service:
            type: NodePort
            nodePorts:
              http: 32080
              https: 32443
