apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
spec:
  project: "default"
  destination:
    namespace: prometheus-operator
    server: "https://kubernetes.default.svc"
  source:
    repoURL: "https://prometheus-community.github.io/helm-charts"
    targetRevision: 49.2.0
    chart: kube-prometheus-stack
    helm:
      values: |
        grafana:
          enabled: false