apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
spec:
  project: "default"
  destination:
    namespace: prometheus-operator
    server: "https://kubernetes.default.svc"
  source:
    repoURL: "https://prometheus-community.github.io/helm-charts"
    targetRevision: 81.2.1
    chart: kube-prometheus-stack
    helm:
      values: |
        grafana:
          enabled: false

        prometheus:
          prometheusSpec:
            additionalScrapeConfigs:
              - job_name: kubernetes-service-endpoints
                kubernetes_sd_configs:
                - role: endpoints
                relabel_configs:
                - action: drop
                  regex: true
                  source_labels:
                  - __meta_kubernetes_pod_container_init
                - action: keep_if_equal
                  source_labels:
                  - __meta_kubernetes_service_annotation_prometheus_io_port
                  - __meta_kubernetes_pod_container_port_number
                - action: keep
                  regex: true
                  source_labels:
                  - __meta_kubernetes_service_annotation_prometheus_io_scrape
                - action: replace
                  regex: (https?)
                  source_labels:
                  - __meta_kubernetes_service_annotation_prometheus_io_scheme
                  target_label: __scheme__
                - action: replace
                  regex: (.+)
                  source_labels:
                  - __meta_kubernetes_service_annotation_prometheus_io_path
                  target_label: __metrics_path__
                - action: replace
                  regex: ([^:]+)(?::\d+)?;(\d+)
                  replacement: $1:$2
                  source_labels:
                  - __address__
                  - __meta_kubernetes_service_annotation_prometheus_io_port
                  target_label: __address__
                - action: labelmap
                  regex: __meta_kubernetes_service_label_(.+)
                - source_labels:
                  - __meta_kubernetes_pod_name
                  target_label: pod
                - source_labels:
                  - __meta_kubernetes_namespace
                  target_label: namespace
                - source_labels:
                  - __meta_kubernetes_service_name
                  target_label: service
                - replacement: ${1}
                  source_labels:
                  - __meta_kubernetes_service_name
                  target_label: job
                - action: replace
                  source_labels:
                  - __meta_kubernetes_pod_node_name
                  target_label: node
