apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: headscale
data:
  config.yaml: |
    server_url: https://headscale.lab.weltraumpflege.org
    listen_addr: 0.0.0.0:8080
    metrics_listen_addr: 0.0.0.0:9090
    grpc_listen_addr: 0.0.0.0:50443
    grpc_allow_insecure: false

    private_key_path: /etc/headscale/private.key
    noise:
      private_key_path: /etc/headscale/noise_private.key

    prefixes:
      v4: 100.64.0.0/10
      v6: fd7a:115c:a1e0::/48

    derp:
      server:
        enabled: false
      urls:
        - https://controlplane.tailscale.com/derpmap/default
      auto_update_enabled: true
      update_frequency: 24h

    disable_check_updates: false
    ephemeral_node_inactivity_timeout: 30m
    node_update_check_interval: 10s

    database:
      type: sqlite
      sqlite:
        path: /var/lib/headscale/db.sqlite

    log:
      format: text
      level: info

    policy:
      path: ""

    dns:
      override_local_dns: false
      domains: []
      magic_dns: true
      base_domain: vpn.lab.weltraumpflege.org

    unix_socket: /var/run/headscale/headscale.sock
    unix_socket_permission: "0770"

    logtail:
      enabled: false

    randomize_client_port: false

    oidc:
      only_start_if_oidc_is_available: true
      issuer: "https://auth.openlab-augsburg.de/application/o/headscale/"
      client_id: "$OIDC_CLIENT_ID"
      client_secret: "$OIDC_CLIENT_SECRET"
      scope: ["openid", "profile", "email"]
      extra_params:
        domain_hint: auth.openlab-augsburg.de
