apiVersion: v1
kind: Secret
metadata:
    name: taler
    namespace: taler
stringData:
    taler.conf: |-
        # Main entry point for the GNU Taler configuration.
        #
        # Structure:
        # - taler.conf is the main configuration entry point
        #   used by all Taler components (the file you are currently
        #   looking at.
        # - overrides.conf contains configuration overrides that are
        #   set by some tools that help with the configuration,
        #   and should not be edited by humans.  Comments in this file
        #   are not preserved.
        # - conf.d/ contains configuration files for
        #   Taler components, which can be read by all
        #   users of the system and are included by the main
        #   configuration.
        # - secrets/ contains configuration snippets
        #   with secrets for particular services.
        #   These files should have restrictive permissions
        #   so that only users of the relevant services
        #   can read it.  All files in it should end with
        #   ".secret.conf".

        [exchange]
        MASTER_PUBLIC_KEY = JXT53Y71QFTGHC335ZA12RGXQEBF0N0SDTGJ0Y15HM1WBZ0WTHE0
        BASE_URL = https://taler-exchange.openlab-augsburg.de/
        DB = postgres
        STEFAN_ABS = EUR:0.0
        STEFAN_LOG = EUR:0.0

        # Monthly amount that mandatorily triggers an AML check
        AML_THRESHOLD = EUR:250

        [taler]
        # Currency of the Taler deployment.  This setting applies to all Taler
        # components that only support a single currency.
        CURRENCY = EUR

        # Smallest currency unit handled by the underlying bank system.  Taler payments
        # can make payments smaller than this units, but interactions with external
        # systems is always rounded to this unit.
        CURRENCY_ROUND_UNIT = EUR:0.01

        [coin_MATE_FNORD_10_0]
        VALUE = EUR:0.10
        DURATION_WITHDRAW = 1000 years
        DURATION_SPEND = 1000 years
        DURATION_LEGAL = 1000 years
        FEE_WITHDRAW = EUR:0.0
        FEE_DEPOSIT = EUR:0.0
        FEE_REFRESH = EUR:0.0
        FEE_REFUND = EUR:0.0
        CIPHER = RSA
        RSA_KEYSIZE = 8192

        [paths]

        TALER_HOME = /var/lib/taler/
        TALER_RUNTIME_DIR = /run/taler/
        TALER_CACHE_HOME = /var/cache/taler/
        TALER_CONFIG_HOME = /etc/taler/
        TALER_DATA_HOME = /var/lib/taler/


        [exchangedb-postgres]
        CONFIG=postgres://taler:nnqhiqukt8atvpzpdlvpenupq9fyihmrd7uudijixcv5yu3hlx@db-rw.taler/taler
        # Inline configurations from all Taler components.
        # @inline-matching@ conf.d/*.conf

        # Overrides from tools that help with configuration.
        # @inline@ overrides.conf
        #
        [exchange-account-1]
        # Account identifier in the form of an RFC-8905 payto:// URI.
        # For SEPA, looks like payto://iban/$IBAN?receiver-name=$NAME
        # Make sure to URL-encode spaces in $NAME!
        #
        # With x-taler-bank (for Fakebank)
        # PAYTO_URI = "payto://x-taler-bank/bank.demo.taler.net/Exchange?receiver-name=openlab"
        #
        # Example using IBAN (for use with LibEuFin)
        # PAYTO_URI = "payto://iban/DE4919267725037?receiver=name=exchange"
        PAYTO_URI = "payto://iban/DE159593?receiver-name=Sandcastle+Echange+Inc"
        # URL for talking to the bank wire the wire API.
        WIRE_GATEWAY_URL = https://bank.demo.taler.net/accounts/exchange/taler-wire-gateway/
        # Use for exchange-aggregator (outgoing transfers)
        ENABLE_DEBIT = YES
        # Use for exchange-wirewatch (and listed in /wire)
        ENABLE_CREDIT = YES


        [exchange-accountcredentials-1]

        # LibEuFin expects basic auth.
        WIRE_GATEWAY_AUTH_METHOD = basic

        # Username and password to access the Taler wire gateway.
        USERNAME = exchange
        PASSWORD = sandbox

        # Base URL of the Taler wire gateway.
        WIRE_GATEWAY_URL = https://bank.demo.taler.net/accounts/exchange/taler-wire-gateway/