apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: db
spec:
  instances: 1
  primaryUpdateStrategy: unsupervised
  storage:
    storageClass: openebs-hostpath
    size: 1Gi

  monitoring:
    enablePodMonitor: true
