apiVersion: v1
kind: Service
metadata:
  name: mautrix-signal 
  labels:
    app: mautrix-signal
spec:
  ports:
  - port: 80
    name: web
  clusterIP: None
  selector:
    app: mautrix-signal

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mautrix-signal
spec:
  serviceName: mautrix-signal
  selector:
    matchLabels:
      app: mautrix-signal # has to match .spec.template.metadata.labels
  replicas: 1
  template:
    metadata:
      labels:
        app: mautrix-signal
    spec:
      containers:
      - name: mautrix-signal
        image: dock.mau.dev/mautrix/signal:6964a0d175a7506953caf21d7492520c67038112-arm64
        ports:
        volumeMounts:
        - name: data
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "openebs-hostpath"
      resources:
        requests:
          storage: 1Gi
